<%= form_with(model: itinerary, local: true) do |form| %>
  <% if itinerary.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(itinerary.errors.count, "error") %> prohibited this itinerary from being saved:</h2>

      <ul>
      <% itinerary.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :itinerary_name %>
  </div>

  <div class="field">
    <%= form.label :date %>
    <%= form.date_select :date, id: :itinerary_date %>

  </div>

  <!-- <div class="field">
    <%= form.label :activity_id %>
    <%= form.number_field :activity_id, id: :itinerary_activity_id %>
  </div> -->

  <!-- <div class="field">
    <%= form.label :activity_ids, "Activities" %>
    <%= form.collection_check_boxes :activity_ids, Activity.all, :id, :name do |checkbox| %>
    <% checkbox.label {checkbox.check_box + checkbox.text} %>
    <% end %>
  </div> -->

  <div class="field">
    <%= form.label :activity_ids, "Activities" %>
    <%= form.collection_select(:activity_ids, Activity.all, :id, :name, {:prompt => "Please select from the activities below:"}, {:multiple => true}) %>
  </div>

  <!-- <div class="field">
    <%= form.label :user_id, "Posted by" %>
    <%= form.select :user_id, User.pluck(:name, :id), :include_blank => true %>
  </div> -->


  <div class="field hidden">
  <%= form.label :user_id, "Posted by" %>
  <%= form.text_field :user_id, :value => session[:user_id] %>
  </div>


  <div class="actions">
    <%= form.submit(@itinerary.new_record? ? "Create Itinerary" : "Update Itinerary") %>
  </div>
<% end %>
