<p id="notice"><%= notice %></p>

<h1>Itineraries</h1>

<table id="dataTable">
  <thead>
    <tr>
      <th>Name</th>
      <th>Member</th>
      <th>Date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>

    <% @itineraries.each do |itinerary| %>
      <tr>
        <td><%= link_to itinerary.name, itinerary %></td>
        <td><%= itinerary.user.name %></td>
        <% if itinerary.date.present? %>
        <td><%= itinerary.date.strftime '%A, %B %e, %Y' %></td>
        <% else %>
        <td></td>
        <% end %>
        <% if @current_user.present? && @current_user.admin %>
          <td><%= link_to 'Show', itinerary %></td>
          <td><%= link_to 'Edit', edit_itinerary_path(itinerary) %></td>
          <td><%= link_to 'Delete', itinerary, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<!-- <%= link_to 'New Itinerary', new_itinerary_path %> -->
