<!-- <p id="notice"><%= notice %></p> -->

<h1>
  <%= @itinerary.name %>
</h1>

<% if @itinerary.date.present? %>
  <h3><%= @itinerary.date.strftime("%A, %-d %B %Y") %></h3>
<% end %>

<div>
<% unless @itinerary.activities.empty? %>
  <h2>Activities</h2>
  <% @itinerary.activities.each do |activity| %>
    <ul>
      <li>
        <%= link_to activity.name, activity %>
      </li>
    </ul>
  <% end %>
<% end %>
</div>

<% if @current_user.present? %>

<div>
<%= link_to 'Edit Itinerary', edit_itinerary_path(@itinerary), :class => 'btn btn-default' %>
<%= link_to 'Delete', @itinerary, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-default' %>
</div>

<% end %>

<!-- <% if @current_user.present? && @current_user.admin %>
<%= link_to 'Back to Itinerary Listing', itineraries_path, :class => 'btn btn-default' %>
<% end %> -->
