<!-- <p id="notice"><%= notice %></p> -->

<h1><%= "#{@user.name}'s Page" %></h1>

<div>
  <p>
    <strong>Name:</strong>
    <%= @user.name %>
  </p>

  <% unless @user.image.empty? %>
    <%= image_tag @user.image, :alt => @user.name, :class => 'thumbnail' %>
  <% end %>


  <% if @current_user.present? %>
  <p><%= link_to "Add a new itinerary", new_itinerary_path %> </p>
  <% end %>


  <% unless @user.itineraries.empty? %>
    <h2>Itineraries</h2>
    <% @user.itineraries.each do |itinerary| %>
      <ul>
        <li>
          <%= link_to itinerary.name, itinerary %>
        </li>
      </ul>
    <% end %>
  <% end %>

</div>


<div class="controls">
  <%= link_to 'Edit member', edit_user_path(@user) %>
  <%= link_to 'Delete member', @user, :method => 'delete', :data => { :confirm => 'Are you sure you want to delete this account?' } %>
</div>

<%= link_to 'Back', users_path %>
