<%= form_with(model: activity, local: true) do |form| %>
  <% if activity.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(activity.errors.count, "error") %> prohibited this activity from being saved:</h2>

      <ul>
      <% activity.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :activity_name %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, id: :activity_description %>
  </div>

  <div class="field">
    <%= form.label :category %>
    <%= form.text_area :category, id: :activity_category %>
  </div>

  <div class="field">
    <%= form.label :image, "Photo" %>
    <%= form.file_field :image, id: :activity_image %>
  </div>

  <div class="field">
    <%= form.label :location_id, "Location" %>
    <%= form.select :location_id, Location.order(:name).pluck(:name, :id), :prompt => "Location Name" %>
  </div>

  <div class="field">
    <%= form.label :place, "Place ID" %>
    <%= form.text_field :place, id: :activity_place %>
  </div>

  <div class="actions">
    <%= form.submit(@activity.new_record? ? "Create Activity" : "Update Activity") %>
  </div>
<% end %>

<div>
  <a href="https://developers.google.com/maps/documentation/javascript/examples/places-placeid-finder" target="_blank" >Search Google for Place ID</a>
</div>
