<!-- <p id="notice"><%= notice %></p> -->

<h1>Activities</h1>

<table id="dataTable">
  <thead>
    <tr>
      <th>Name</th>
      <!-- <th>Description</th> -->
      <th>Category</th>
      <th>Location</th>
      <th>Image</th>
      <% if @current_user.present? && @current_user.admin %>
        <th>Show</th>
        <th>Edit</th>
        <th>Delete</th>
      <% end %>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @activities.each do |activity| %>
      <tr>
        <td><%= link_to activity.name, activity %></td>
        <!-- <td><%= activity.description %></td> -->
        <td><%= activity.category %></td>
        <td><%= activity.location.name %></td>
        <td><%= image_tag activity.image, :class => 'thumbnail' %></td>


        <% if @current_user.present? && @current_user.admin %>
          <td><%= link_to 'Show', activity %></td>
          <td><%= link_to 'Edit', edit_activity_path(activity) %></td>
          <td><%= link_to 'Delete', activity, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>

      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if @current_user.present? && @current_user.admin %>
  <%= link_to 'New Activity', new_activity_path %>
<% end %>
