<!-- <p id="notice"><%= notice %></p> -->



<h1>
  <%= @activity.name %>, <%= @activity.location.name %>
</h1>

<div class="row">
  <div class="col-md-4">

    <div>
    <% unless @activity.itineraries.empty? %>
      <% @activity.itineraries.each do |itinerary| %>
        <p><%= link_to itinerary.name, itinerary %></p>
      <% end %>
    <% end %>
    </div>

    <p>
      <strong>Category:</strong>
      <%= @activity.category %>
    </p>

    <p>
      <%= simple_format(@activity.description) %>
    </p>

  </div>
</div>

<div class="row">
  <div class="col-md-4">

    <% if @activity.image.present? %>
      <%= image_tag @activity.image, :alt => @activity.name, :id => 'activity-img' %>
    <% end %>

  </div>


  <div class="col-md-7 col-md-offset-1">
    <div id="activity-map"></div>

    <script>
      function initMap() {

        var centerLocation = {lat: <%= @activity.location.latitude %>, lng: <%= @activity.location.longitude %>};
        var map = new google.maps.Map(document.getElementById('activity-map'), {
          center: centerLocation,
          zoom: 12
        });

        var infowindow = new google.maps.InfoWindow();
        var service = new google.maps.places.PlacesService(map);

        var serviceQuery = function(place, status) {
          if (status === google.maps.places.PlacesServiceStatus.OK) {

            var marker = new google.maps.Marker({
              map: map,
              position: place.geometry.location
            });

            google.maps.event.addListener(marker, 'click', function() {
              infowindow.setContent('<div><strong>' + place.name + '</strong><br>' +
                // 'Place ID: ' + place.place_id + '<br>' +
                place.formatted_address + '</div>');
              infowindow.open(map, this);
            });
          }
        }

         service.getDetails({
           placeId: '<%= @activity.place %>',
         }, serviceQuery);
      }

    </script>

    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBDiG4R_vEFG6qFt7vsr5N9ZgSDtgITnmI&libraries=places&callback=initMap">
    </script>

  </div>
</div>

<% if @current_user.present? && @current_user.admin %>
  <%= link_to 'Edit', edit_activity_path(@activity), :class => 'btn btn-default' %> 
<% end %>

<%= link_to 'Go to activities list', activities_path, :class => 'btn btn-default' %>
