<!-- <p id="notice"><%= notice %></p> -->

<h1>
  <span id="city"><%= @location.name %></span>, <%= @location.country %>
</h1>

<div>
<% unless @location.activities.empty? %>
  <h2>Activities</h2>
  <% @location.activities.each do |activity| %>
    <ul>
      <li>
        <%= link_to activity.name, activity %>
      </li>
    </ul>
  <% end %>
<% end %>
</div>


<% if @current_user.present? && @current_user.admin %>
  <%= link_to 'Edit', edit_location_path(@location) %> |
<% end %>

<%= link_to 'Back', locations_path %>


<div class="container1">
  <div id="column2">
    <div id="map"></div>

    <script>
      function initMap() {

        var centerLocation = {lat: <%= @location.latitude %>, lng: <%= @location.longitude %>};
        var map = new google.maps.Map(document.getElementById('map'), {
          center: centerLocation,
          zoom: 12
        });

        var infowindow = new google.maps.InfoWindow();
        var service = new google.maps.places.PlacesService(map);

        var serviceQuery = function(place, status) {
          if (status === google.maps.places.PlacesServiceStatus.OK) {

            var photos = place.photos;
              if (!photos) {
                return;
              }

              var marker = new google.maps.Marker({
                map: map,
                position: place.geometry.location,
                title: place.name,
                icon: photos[0].getUrl({'maxWidth': 35, 'maxHeight': 35})
              });

            // var marker = new google.maps.Marker({
            //   map: map,
            //   position: place.geometry.location
            // });

            google.maps.event.addListener(marker, 'click', function() {
              infowindow.setContent('<div><strong>' + place.name + '</strong><br>' +
                // 'Place ID: ' + place.place_id + '<br>' +
                place.formatted_address + '</div>');
              infowindow.open(map, this);
            });
          }
        }

        <% @location.activities.each do |activity| %>
         service.getDetails({
           placeId: '<%= activity.place %>',
         }, serviceQuery);
        <% end %>

      }

    </script>

    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBDiG4R_vEFG6qFt7vsr5N9ZgSDtgITnmI&libraries=places&callback=initMap">
    </script>


  </div>
</div>

<button id="searchWeather">Search Weather Details</button>
<div id="weather"></div>
